*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
:root{
    --main-color: #ddd;
    --title-color: #333;
    --in-picture-font-color: #fff;
    --navbar-color: #000;
}
body{
    background-color: var(--main-color);
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    /* font-weight: <weight>; */
    margin: 50px;
}
header{
    display: grid;
    grid-template-areas: "hero hero feature-1"
                         "hero hero feature-2";
}
.hero{
    grid-area: hero;
    min-height: 300px;
    padding: 50px;
    background-image: url(./assets/motor.jpg);
    background-size: cover;
    background-position: center;
}
.hero h1, .hero p{
    display: none;
}
.features{
    color: var(--in-picture-font-color);
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}
.features .price{
    font-size: 2em;
}
.features > *{
    text-shadow: 5px 5px 5px black;
}
.feature-1{
    grid-area: feature-1;
    background-image: url(./assets/motor2.jpg);
    background-size: cover;
    background-position: center;
}
.feature-2{
    grid-area: feature-2;
    background-image: url(./assets/motor3.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
nav .brand {
    font-size: 1.2em;
    color: var(--title-color);
}
nav ul{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
nav a{
    background-color: var(--navbar-color);
    color: var(--in-picture-font-color);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}